:root {
    --main: #00509E;
    --sub:#0066CC;
    --accent:  #FFA500; 
    --bg-color : #e5ebf1;
    --text-color: #0C1637;
    --error: #E40C2B;
    --success:  #28A745;
    --info: #17A2B8 ;
  }

.img-container{
    margin: 0 auto; 
    width: 100%;
    height: 600px;
}

.img-container img{
    background-size: cover;
    object-fit: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    width: 100%;
    height: 100%;
}
.wrapper {
    width:1200px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid #a31919; 
  }
  .group-row{
    display: flex;
    justify-content: center;    
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
    display: flex;
    margin: auto;
    justify-content: center;
    
  }

  .image1 {
    margin: 0 auto;
    background-color: rgb(134, 145, 165);
    height: 300px;
    width: 600px;
  }
  .image2 {
    margin: 0 auto;
    background-color: rgb(134, 145, 165);
    height: 400px;
    width: 100%;
  }


  .form-wrapper {
    width: 80%; 
    max-width: 400px; 
    margin: 2rem auto; 
    padding: 2rem; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }    


  form button {
    /* margin-top: 2rem; */
  }

  .form-wrapper h2{
    margin-top: 0;
    margin-bottom: 1rem;
  }

  form a {
    color:var(--text-color);
    text-decoration: none;
    
  }
  /* for top navigation */
  .topnav{
    min-height: 2rem;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: var(--text-color);
    position: sticky;
  }

  .topnav>ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .topnav>ul>li {
    padding: 1.5rem;
    position: relative;
    font-family: "GTAmerica-Regular",Arial,Helvetica,Serif;
    color: #fff;
    /* flex-grow: 1; */
    text-align: center;   
  }

  li:hover {

    background-color:var(--main); 
    color: #fff; 
    border-color: var(--main); 
  }
  .dashboard {
    display: grid;
    margin-inline: 20px;
    gap: 10px;
    grid-template-rows: 80px auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'top' 
    'left' 
    'layout';
    min-height: 100vh;
  } 
  @media (min-width: 480px){
    .dashboard {
      display: grid;
      gap: 10px;
      grid-template-rows:80px auto ;
      grid-template-columns: 200px auto ;
      grid-column: 1;
      grid-template-areas: 
      'top top ' 
      'left layout'  ;
  
    }
  }

  .layout {
    grid-area: layout;
    display: grid;
    gap: 10px;
    grid-template-rows:auto  auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'widgets'
    'main' 
    'upcoming' 
    'statistics' 
    'announcement'
    'calendar';
    min-height: 90vh;
  }

  @media (min-width: 480px){
    .layout {
      grid-area: layout;
      display: grid;
      gap: 10px;
      grid-template-rows:auto auto 320px ;
      grid-template-columns: auto auto 300px;
      /* grid-column: 1; */
      grid-template-areas: 
      'widgets widgets widgets' 
      'main main announcement' 
      'upcoming statistics calendar';
  
    }

  }


  .top{
    grid-area: top;
    background:var(--bg-color);
  }
  .upcoming{
    grid-area: upcoming;
    background:var(--bg-color);
    width: 100%;
    padding: 15px;
  }
  .left{
    grid-area: left;
    background-color:var(--bg-color);
    position: relative;
  }
  .calendar{
    grid-area: calendar;
    background-color:var(--bg-color);
  }
  main{
    grid-area: main;
    background:var(--bg-color);
    min-height: 200px ;
    min-width: 600px;
  }
  .announcement {
    grid-area: announcement;
    background:var(--bg-color);
  }
  .widgets{
    grid-area: widgets;
    background-color:var(--bg-color);
    width: 100%;
  }

  .statistics{
    grid-area: statistics;
    background-color:var(--bg-color);
    width: 100%;
    padding: 15px;

  }

  .header-topnav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    white-space: nowrap;
  }
  .inline-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }
  .widget {
    background-color: #f0f0f0;
    /* margin-inline: 15px; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: calc(33.33% - 20px);
  }
  
  .widget h2 {
    margin-top: 0;
  }
  
  .widget p {
    margin: 0;
  }
  
  .widget span {
    font-weight: bold;
  }
  
  .current-class {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .current-class h2 {
    margin-top: 0;
  }
  
  .class-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .class-info {
    flex: 1;
  }
  
  .class-actions {
    display: flex;
    flex-direction: column;
  }
  
  .class-actions button {
    margin-top: 10px;
    /* padding: 8px 16px; */
    border: none;
    border-radius: 5px;
    background-color: #00509E;
    color: white;
    cursor: pointer;
  }
  
  .class-actions button:hover {
    background-color: #003366;
  }
  .faculty-img{
    width: 100px;
    margin-right: 20px;
  }

  .announcements-section {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    font-size: small;
  }
  

  
  .announcement-title {
    margin-top: 0;
    color: #00509E;
  }
  
  .announcement-content {
    color: #333;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Sidenav.css */
/* .sidenav {
position: relative;
} */
.sidenav .inline-container h2{
  display: flex;
  align-items: center;
  padding-inline: 15px;
  margin-block: 10px;
}
.hide-span{
  display: none;
  transform: translate(-100%);
  transition: all 0.5s ease;
  overflow: hidden;
  opacity: 0;
  width: 0px;
}
.expanded{
  display: inline;
  transform:translateX(0%);
  width: auto;
  opacity:1;
}
.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* transform: translate(-100%);
  transition: all 0.5s ease; */
}

.sidenav ul li {
  cursor: pointer;
  white-space: nowrap;
}
.sidenav span {
  padding: 5px;
}

.sidenav ul li a {
  color: var(--text-color);
  text-decoration: none;
  width: 100%;
  display: flex;
  text-align: center;
  padding: 15px;
}
.sidenav button{
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--text-color);
  width: 100%;
  font-size: 16px;
  display: flex;
  padding: 15px;
}
.sidenav ul li a:hover {

  background-color:var(--main); 
  color: #fff; 
  border-color: var(--main); 
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 250px; 
  margin: 20px;
  cursor: pointer;
  /* height: 300px; */
}
.card:hover {
  /* transform: translateY(-5px);  */
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); 
}
.card-header {
  /* background-color: #f0f0f0; */
  /* border-bottom: 1px solid #ccc; */
  /* padding: 10px; */
  margin: 0 auto; 
  width: 100%;
  
}

.card-body  {
  height: 100px;
  overflow:hidden ;
}

.card-body p {
  width: 100%; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  padding-top: 10px; 
  margin: 0;
}

.card-body h2 {
  width: 100%; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  padding-top: 10px; 
  margin: 0px;
}


.card-header img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}


.card-footer {
  /* background-color: #f0f0f0; */
  border-top: 1px solid #ccc;
  /* border-bottom-left-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
  padding: 10px;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.inline-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.cursor-pointer{
  cursor: pointer;
}

.add-button {
  display: flex;
  align-items: center;
  margin-inline: 20px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  /* border: 2px solid var(--main);  */
  color: var(--main); 
  /* background-color: #fff;  */
  border-radius: 100%; 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}


.add-button:hover {
  position: relative;
  color: #fff; 
  background-color: var(--sub); 
  border-color: var(--sub); 
}